main{
          margin: 50px 140px;
          
          

}

.for-baner{
          /* background-image : linear gradient (), url{*image inside*} */
          background-image: linear-gradient(#070211, #07021100), url(./images/Bimage.png);
          width: 1320px;
          height: 600px;
          border-radius: 16px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          align-items: center;
          position: relative;
          justify-content: center;
}

.baner{
      
}
.baner-h3{
          color: #FFF;
          text-align: center;
          font-family: Merriweather;
          font-size: 32px;
          font-style: normal;
          margin: 117px 530px 10px;
          font-weight: 400;
          line-height: normal;
}
.baner-h1{
          color: #FFF;
          text-align: center;
          font-family: Merriweather;
          font-size: 72px;
          font-style: normal;
          font-weight: 900;
          line-height: 95px;
          margin: 0px 344px 117px;
}
.new-year{
          text-align: center;
          /* margin-left: auto;
          margin-right: auto; */
}
.nw-h2{
          color: #F00;
          text-align: center;
          font-family: Inter;
          font-size: 88px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: 120px;
          margin-bottom: 48px;
}

.nw-h4{
          color: #F00;
          text-align: center;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
}

.nwh3{
          color: #070211;
          text-align: center;
          font-family: Inter;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
}

.wellcome{
          
          background-image:linear-gradient(#070211, #07021100) ,url(./images/Vectorrr.png);
          width: 1320px;
          height: 600px;
          display: flex; justify-content:space-between;
          align-items:center;
          margin-top: 120px;
          margin-left: auto;
          margin-right: auto;
          
          

}

.well-text{
          display: inline-block;
          margin: 40px 126px;
}

.wh2{
          color: #FFF;
          font-family: Merriweather;
          font-size: 64px;
          font-style: normal;
          font-weight: 900;

           
}

.wp{
          color: rgba(255, 255, 255, 0.80);
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
}

.wb{
          color:white;
          background: none;
          border: 0;
          font-family: Inter;
          font-size: 20px;
          font-weight: 700;
}
.year-png{
          margin-right: 138px;
          margin-left: 0px;
}

.pdt{
         text-align: center;
         max-width: 1320px;
         max-height: 482px;

         background-image: linear-gradient(#FF0000, #FF000000);
         margin: 120px auto;
         padding: 100px;
}



